<!DOCTYPE html>
<html>
<head>
<title>AngularJS Controller</title>
<script src="angular.js"></script>
<script src="script.js"></script>
</head>
<body ng-app="myModule">
<div ng-controller="firstController">{{message}}
</div>
<div ng-controller="recordsController">
<!-- <input type="text" ng-model="searchText"/> <br/>  FOR ALL TYPE FIELD -->
<input type="text" ng-model="searchText.firstName"/> <br/>
<input type="text" ng-model="searchText.lastName"/> <br/>
<table style="width:500px; border:1px solid black;">
<thead>
<tr style="text-align:left">
<th>First Name</th>
<th>Last Name</th>
<th>Gender</th>
<th>Salary</th>
</tr>
</thead>
<tbody>
<!-- symbole '-' before property in oderBy put order in reverse order-->
<tr ng-repeat="employee in records | filter:searchText | orderBy:'-salary'">
<td>{{employee.firstName | uppercase}}</td>
<td>{{employee.lastName | lowercase}}</td>
<td>{{employee.gender}}</td>
<td>{{employee.salary | currency:"$"}}</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>